{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "User Authentication Service"
    },
    "host": "auth.mshanken.io",
    "paths": {
        "/oauth/token": {
            "post": {
                "description": "First step in signing in is getting a UserToken. Submit username/password combination. Returns `user_token` object with successful login. Grant_type parameter value should be 'password'",
                "parameters": [
                    {
                        "name": "grant_type",
                        "in": "query",
                        "description": "Type of authorization request",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Email address for account",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password for username",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful login",
                        "schema": {
                            "title": "UserToken",
                            "type": "string",
                            "properties": {
                                "access_token": {
                                    "type": "string"
                                },
                                "token_type": {
                                    "type": "string"
                                },
                                "expires_in": {
                                    "type": "number"
                                },
                                "refresh_token": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "number"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unsuccessful login",
                        "schema": {
                            "title": "LoginFailed",
                            "type": "string",
                            "properties": {
                                "error": {
                                    "type": "string"
                                },
                                "error_description": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mshanken_auth": {
            "post": {
                "description": "Second step is submitting the access_token from `UserToken`\nto the authorization endpoint.\nMust include app_id value in query,\nand must include access_token in header like Authorization Bearer {{access_token}}.\n",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "The token_type returned from /oauth/token call, followed by a space, followed by the access_token returned from the call to /oauth/token",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "app_id",
                        "in": "query",
                        "description": "The ID of the app you wish to access; for localhost this is FPktnRUXanbkFpxSHpzi8sX9",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "title": "ArrayOfPersons",
                            "type": "array",
                            "items": {
                                "title": "Person",
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "single": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unsuccessful authorization"
                    }
                }
            }
        }
    }
}
